<!DOCTYPE html>
<html>
<head>
    <title>{{ fiw_login_title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link href="build/bundle.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="header">
        <div class="inner">
            <div class="table">
                <p class="table-cell">
                    <img src="themes/{{ fiw_login_theme }}/images/logo1.png" alt="">
                </p>
                <p class="table-cell" id="lang">
                    <a href="javascript:translate('it')" class="button it active lang">
                        Italiano
                    </a>
                    <a href="javascript:translate('en')" class="button en lang">
                        English
                    </a>
                </p>
                <a href="javascript:void(0)" id="toggle-menu" class="button"><span>&#9776;</span> menu</a>
            </div>
        </div>
    </div>
    <div id="menu">
        <div class="inner">
            {% if fiw_login_menu %}
            <ul>
                {% for item in fiw_login_menu %}
                <li>
                    <a href="{{ item.href }}" class="t">{{ item.text_en }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            <div id="lang-mobile" class="center">
                <h4 class="t">preferred language:</h4>
                <p>
                    <a href="javascript:translate('it')" class="button it active lang">
                        Italiano
                    </a>
                    <a href="javascript:translate('en')" class="button en lang">
                        English
                    </a>
                </p>
                <p><a href="javascript:void(0)" class="button close t">close</a></p>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="inner">
            <div id="login" class="box">
                <form action="{{ fiw_login_form_action }}" method="post" name="userauth">
                    {% if fiw_login_logo2 %}
                    <p class="center" id="logo2">
                        <img src="themes/{{ fiw_login_theme }}/images/logo2.png" alt="">
                    </p>
                    {% endif %}
                    <p>
                        <label class="t">Phone number or username</label>
                        <input type="text" maxlength="32" id="username"
                               tabindex="1" name="auth_user" required>
                    </p>
                    <p>
                        <label>
                            <span class="t">Free ItaliaWiFi</span>
                            <a href="javascript:void(0)" id="help-fiw" class="t">what's this?</a>
                        </label>
                        <select id="fiw" name="realm" tabindex="3">
                            <option value="{{ fiw_default_realm.value }}" selected="selected">
                                {{ fiw_default_realm.label }}
                            </option>
                        </select>
                    </p>
                    <p>
                        <label class="t">Password</label>
                        <input type="password" maxlength="32" size="32" tabindex="3" name="auth_pass" required>
                    </p>
                    <p class="center">
                        <button type="submit" class="t" name="accept" tabindex="4">Log in</button>
                    </p>
                    {% if fiw_signup %}
                    <p class="center spacing">
                        <span class="t">Not registered yet?</span>
                        <a href="{{ fiw_signup }}" class="button t">Sign up for free</a>
                    </p>
                    {% endif %}
                    {% if fiw_reset_password %}
                    <p class="center">
                        <a href="{{ fiw_reset_password }}" class="t">Forgot your password?</a>
                    </p>
                    {% endif %}
                    {% if fiw_manage_account %}
                    <p class="center">
                        <a href="{{ fiw_manage_account }}" class="t">Manage your account</a>
                    </p>
                    {% endif %}
                    {% for field in fiw_hidden_fields %}
                        <input name="{{ field.name }}" value="{{ field.value }}" type="hidden">
                    {% endfor %}
                </form>
            </div>
            {% if fiw_contact_box %}
            <div id="contacts" class="box">
                {% for link in fiw_contact_links %}
                <p>
                    <strong class="t">{{ link.label }}</strong>:
                    <a href="{{ link.href }}">{{ link.text }}</a>
                </p>
                {% endfor %}
                <p id="social">
                    {% if fiw_facebook %}
                    <a href="{{ fiw_facebook }}" target="_blank">
                        <img src="images/facebook.png" alt="f" height="58">
                    </a>
                    {% endif %}
                    {% if fiw_twitter %}
                    <a href="{{ fiw_twitter }}" target="_blank">
                        <img src="images/twitter.png" alt="" height="58">
                    </a>
                    {% endif %}
                </p>
            </div>
            {% endif %}
            {% if fiw_news_rss %}
            <div id="news" class="box"></div>
            {% endif %}
            {% if fiw_related_links %}
            <div id="related">
                {% for link in fiw_related_links %}
                <a href="{{ link.href }}">
                    <img src="{{ link.src }}" alt="{{ link.alt }}" height="90">
                </a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    <div id="footer">
        <div class="inner">
            <div id="publicwifi"></div>
            {% if fiw_privacy and fiw_eula %}
            <div id="notes">
                <a href="{{ fiw_privacy }}" class="t">Privacy policy</a>
                <a href="{{ fiw_eula }}" class="t">Terms of service</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="overlay" id="overlay-fiw">
        <h3><img src="images/fiw.png" alt="Free ItaliaWifi" height="90"></h3>
        <p class="t">FreeItaliaWiFi1</p>
        <p class="t">FreeItaliaWiFi2</p>
        <p class="t">FreeItaliaWiFi3</p>
        <p>
            <a class="button t" href="http://www.freeitaliawifi.it/" target="_blank">Free ItaliaWiFi website</a>
            <a class="button t" href="http://www.freeitaliawifi.it/drupal7/per-il-cittadino" target="_blank">Information for citizens</a>
        </p>
        <a href="javascript:void(0)" class="button close">X</a>
    </div>
    <div class="overlay table" id="overlay-loading">
        <p class="inner table-cell center t">Loading, please wait...</p>
        <a href="javascript:void(0)" class="button close">X</a>
    </div>
    <script src="build/bundle.js"></script>
    <script>
        var i18n = {
            "current": (window.navigator.language || window.navigator.userLanguage).substr(0, 2),
            "it": {
                {% for link in fiw_login_menu %}
                "{{ link.text_en }}": "{{ link.text_it }}",
                {% endfor %}
                "Sign up for free": "Registrati gratuitamente",
                "Manage your account": "Gestisci il tuo account",
                "preferred language:": "seleziona lingua:",
                "close": "chiudi",
                "Phone number or username": "Numero di telefono o nome utente",
                "Free ItaliaWiFi": "Free ItaliaWiFi",
                "what's this?": "che cosa è?",
                "Password": "Password",
                "Log in": "Accedi",
                "Not registered yet?": "Non sei registrato?",
                "Forgot your password?": "Hai dimenticato la password?",
                "Manage your account": "Gestisci il tuo account",
                "E-mail": "E-mail",
                "Helpdesk": "Supporto tecnico",
                "Privacy policy": "Privacy policy",
                "Terms of service": "Termini del servizio",
                "FreeItaliaWiFi1": "Free ItaliaWiFi è un progetto rivolto alle pubbliche amministrazioni per la realizzazione della prima rete federata nazionale di accesso gratuito ad Internet senza fili.",
                "FreeItaliaWiFi2": "Grazie ad un sistema integrato di identificazione, gli utenti già iscritti ad una rete aderente a Free ItaliaWiFi possono accedere alle reti federate delle altre pubbliche Amministrazioni utilizzando le proprie credenziali, senza dover effettuare una nuova procedura di registrazione.",
                "FreeItaliaWiFi3": "Le reti che hanno aderito alla Federazione sono riconoscibili dal logo di Free ItaliaWiFi presente sulla pagina web di accesso al servizio di ogni rete. Sulla pagina di autenticazione si possono utilizzare le proprie credenziali aggiungendo al “Nome utente/username”, il simbolo “@” e il “dominio/realm” della rete a cui si appartiene (mantenendo la password invariata).",
                "Free ItaliaWiFi website": "Sito Free ItaliaWiFi",
                "Information for citizens": "Informazioni per il cittadino",
                "Loading, please wait...": "Caricamento in corso, attendere prego..."
            },
            "en": {
                "FreeItaliaWiFi1": "Free ItaliaWiFi is a project aimed at public administrations for the implementation of the first national federated network for free wireless internet access.",
                "FreeItaliaWiFi2": "Thanks to an integrated identification system, users already registered on a network part of Free ItaliaWiFi may access federated networks of other public administrations using their own credentials, without having to go through a new registration process.",
                "FreeItaliaWiFi3": "All networks that have joined the Federation are recognizable by the Free ItaliaWiFi logo on the access page of each network. On the authentication page, you can use your own credentials by adding the symbol “@” after “username” followed by the “domain/realm” of the network you belong to (keeping the same password)."
            }
        }
    </script>
</body>
</html>
